$font-stack: Helvetica, sans-serif;
$primary-color: rgb(238, 184, 184);


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font: 100% $font-stack;
    background-color: $primary-color;
    font-size: 1.2em;
    font-weight: 500 ;
    
}

main {
    flex: 2;
    padding-bottom: 50px; 

}

section {
    max-width: 800px;
    margin: 30px auto;
    margin-top: 0;
    text-align: left; 
    padding: 5px;
      
     #text {
      font-style: italic;
     }
 //https://www.w3schools.com/howto/howto_css_loader.asp
     #loading {
        border: 16px solid rgba(247, 247, 166, 0.685);  
        border-top: 16px solid #96d7eb; 
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;
        position: fixed;
        left: 47%;
        top: 40%;
        z-index: 1;
     }

     @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

     .showing {
        display:block;
     }

     .hidden {
        display:none;
     }

 }

h1 {
    max-width: 800px;
    text-align: center;
    font-size: 2.5em;
    color: rgb(54, 54, 54);
    padding-top: 110px; 
    padding-left: 70px;  
}



